services:

  app:
    build: 
      context: .
    ports:
      - "3000:8000"
    volumes:
      - ./django_app:/django_app
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:16-alpine
    volumes:
      - psql_data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - TZ=America/Sao_Paulo
    ports:
      - "3001:5432"
  
  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    env_file:
      - .env
    environment:
      - TZ=America/Sao_Paulo
    ports:
      - "3002:6379"
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  psql_data:
  redis_data: